--find-links https://data.pyg.org/whl/torch-2.4.0+cpu.html
torch==2.4.0
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
rdkit
deepchem
cairosvg
pandas
seaborn
pillow
optuna
streamlit
matplotlib
scikit-learn
tqdm